.grid-container{
    display: grid;
    grid-template-areas: "nv" "main" "ft";
    grid-template-rows: 4% 90% 6%; 
    grid-template-columns: 100%;
}

nav{
    grid-area:nv;
}

main{
    grid-area: main;
}

body{
    background-color: white;
}

.texto{
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}

h1{
    color: white;
    background-image:linear-gradient(to right,#242d33,#30bcad);
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding-bottom: 0.50em;
    padding-top: 0.75em;
    font-size: 2.4em;
    letter-spacing: 0.05em;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

h3{
    color: white;
    background-color: #2C8C84;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding-bottom: 0.625em;
    padding-top: 0.625em;
    font-size: 1.5625em;
    letter-spacing: 0.05em;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

h4{
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding-top: 0.625em;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    font-weight: bold;
}

h5{
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 1em;
    
}
  
p{
    color: #000000;
    font-family: 'Roboto Slab', serif;
    font-size: 1.15em;
    line-height: 1.6em;
    text-align: center;
}

.centraliza{
    text-align: center;
}

.menu{
    height: 2.5em;
}

ul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #296563;
    border-bottom-style: solid;
    border-bottom-width: 0.4375em;
    border-bottom-color: #242d33;
    position: fixed;
    letter-spacing: 0.05em;
    font-weight: bold;
}
  
li{
    float: left;
    font-family: 'PT Sans', sans-serif;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
}

li a.active{
    background-color: #45C3B5;
    color: #000000;
}  

li a:hover:not(.active){
    background-color: #264346;
}

footer{
    grid-area: ft;
    text-align: center;
    width: 100%;
    margin: 0;
}

.barra_links{
    background-color: #3C4D58;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    margin: 0;
}

.barra_nome{
    background-color: #303D46;
    width: 100%;
    font-size: 1.3em;
    font-family: 'PT Sans', sans-serif;
    color: white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    margin: 0;
}

.cor_link{
    color:#236dc2;
}

.cor_footer{
    color:#969696;
}

article{
    text-align: center;
}

hr{
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #3c4d5896;
    margin-left: 20%;
    margin-right: 20%
}